#main-section {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

.box {
  background-color: #e8efef;
  top: 2em;
  width: 30em;
  height: 25em;
  padding-top: 0.8em;
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.box a:link {
  color: #96E072;
}

.box a:visited {
  color: #FE5F55;
}

.box a:hover {
  color: black;
}

li {
  padding-bottom: 0.5em;
}