#main {
 margin-right: 8em;
 margin-left: 8em; 
}

#description {
  background-color: white;
  float: left;
  position: absolute;
  width: 19em;
  height: 30.25em;
  top: 7.08em;
  opacity: 0.7;
  margin-left: -10px;
  padding: 1em;
}

img {
  display:inline-block
}

.some-space {
  height: 10px;
}

#office {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#spongebob {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
  font-size: 75%;
}