#main {
 margin-right: 8em;
 margin-left: 8em; 
}

#description {
  background-color: white;
  float: left;
  position: absolute;
  width: 19em;
  height: 30.25em;
  top: 7.08em;
  opacity: 0.7;
  margin-left: -10px;
  padding: 1em;
}

#header-blog {
  margin-bottom: 2em;
  background-color: #3B3AA3;
  padding-bottom: 1.8em;
}

.nav-blog {
  display: inline-block;
  float: left;
  padding: 5px;
  color: white;
}

img {
  display:inline-block
}

.some-space {
  height: 10px;
}

#office {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#spongebob {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
  font-size: 75%;
}

h3.resume {
  margin-top: 3em;
  margin-bottom-bottom: 2em;
}
h4.resume {
  margin-top: 0em;
  margin-bottom: -1em;
}
h4#resume {
  margin-top: 1.1em;
  margin-bottom: -1em;
}
p.resume {
  margin-top: -1em;
  margin-bottom: 2em;
  font-size: 95%;
}

p a:link {
  color: #96E072;
}

p a:visited {
  color: #FE5F55;
}

p a:hover {
  color: black;
}

#footer-blog {
  margin: 0 auto;
  text-align: center;
}

.li-blog {
  font-weight: 400;
  line-height: 1.5em;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-style: normal;
  font-size: 105%;
}
